* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
}

.navbar {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #6F4E37;
}

.nav-links-left {
    grid-column-start: 1;
    grid-column-end:3 ;
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
   
    
    
}

.nav-links-left li a {
    color: #A67B5B;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links-left li a:hover {
    background-color: #ECB176;
    color: #ffffff;
}

.logo-container {
    
    grid-column-start:3 ;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 65px;
    height: 65px;
}

.auth-links {
    display: flex;
    gap: 15px;
    grid-column-start: 4;
    grid-column-end: 7;
    margin-right: auto;
}
.auth-links li {
    list-style-type: none;
}

.signup-btn, .login-btn {
    color: #FED8B1;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #FED8B1;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-btn:hover, .login-btn:hover {
    background-color: #FED8B1;
    color: #6F4E37;
}
.hamburger {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FED8B1;
    grid-column-start: 7;
    grid-column-end: 8;
    cursor: pointer;
    
}




@media only screen and (max-width: 769px){
    .nav-links-left{
        display: none;
    }
    .auth-links{
        display: none;
    }
    .logo-container {
        padding-left: 100px;
    }

    .hamburger{
        display: block;
    }
    .nav-links-left {
        position: fixed;
        width: 0;
        height: 100%;
        background-color: #6F4E37;
        top: 100px;
        left: 0;
        z-index: 1;
        overflow-x: hidden;
        
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    

    .nav-links li {
        text-align: left;
        padding: 8px 0;
    }

    .nav-links li a {
        text-decoration: none;
        color: #FED8B1;
        font-size: 20px;
        padding: 10px 30px;
        display: block;
        transition: 0.3s;
    }

    .nav-links li a:hover {
        background-color: #ECB176;
    }

    .signup-btn, .login-btn {
        font-size: 20px;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 610px){
    
    .nav-links-left{
        display: none;
    }
    .auth-links{
        display: none;
    }
    .logo-container {
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 50px;
    }
    

    .hamburger{
        display: block;
    }
    .nav-links-left {
        position: fixed;
        width: 0;
        height: 100%;
        background-color: #6F4E37;
        top: 100px;
        left: 0;
        z-index: 1;
        overflow-x: hidden;
        
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-links li {
        text-align: left;
        padding: 8px 0;
    }

    .nav-links li a {
        text-decoration: none;
        color: #FED8B1;
        font-size: 20px;
        padding: 10px 30px;
        display: block;
        transition: 0.3s;
    }

    .nav-links li a:hover {
        background-color: #ECB176;
    }

    .signup-btn, .login-btn {
        font-size: 20px;
        padding: 10px 30px;
    }
}