<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - goldozonmedical_Web_Site</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/goldozonmedical_Web_Site.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" asp-append-version="true"/>
    <script src="~/Scripts/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js" asp-append-version="true"></script>
</head>


<body>
    <div class="hamburgercontainer">
        <ul class="hamburgerlist">
            <div class="logo-container-ham">
                <img src="~/img/icon.png" alt="Logo">
            </div>
            
            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>

            <li><a asp-controller="Distributor" asp-action="Index">Ürünlerim</a></li>

            <li><a asp-controller="Contact" asp-action="Contact">İletişim</a></li>

            <li><a asp-controller="Contact" asp-action="Index">Profil</a></li>

            <li><a asp-controller="Account" asp-action="Logout">Çıkış</a></li>

        </ul>
    </div>
    <nav class="navbar">
        <ul class="nav-links-left" id="navLinks">
            <li><a asp-controller="PriceProduct" asp-action="Index">Ürünler</a></li>
            <li><a asp-controller="Distributor" asp-action="Index">Distribütörler</a></li>
            <li><a asp-controller="Contact" asp-action="Index" >İletişim</a></li>
        </ul>

        <div class="logo-container">
            <img src="~/img/icon.png" alt="Logo">
        </div>

        <div class="auth-links">
            
        <ul class="nav-links-left" id="navLinks">
            
            <li>
                <a asp-controller="Basket" asp-action="Basket">
                    <img src="~/img/basket.png" alt="Basket" />
                    <span id="cart-count" class="cart-count">@ViewBag.CartItemCount</span>
                </a>
            </li>

            <li><a asp-controller="Contact" asp-action="Index">Profil</a></li>
            <li><a asp-controller="Account" asp-action="Logout">Çıkış</a></li>
        </ul>
           
        <div class="hamburger" id="hamburgerbutton" >&#9776;</div>
    </nav>
    <script src="~/js/layout.js">    
        
        
    </script>
  

    <div class="container">

        <main role="main" class="pb-3" style="margin-top: 50px;">
            @RenderBody()
                
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2024 - Goldozon Medical - <a asp-area="" asp-controller="Home" asp-action="Privacy">Poliçemiz</a>   
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
